body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-container {
  text-align: center;
  font-family: Arial, sans-serif;
}

.app-header {
  background-color: #3498db;
  color: #fff;
  padding: 1rem;
}

.app-header h1 {
  font-size: 2rem;
}

/* CSS for Add Task Input and Button */
.add-task-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.add-task-container input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.add-task-container button {
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}
/* end task container*/

.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.todo-input {
  width: 70%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 0.5rem;
}

.todo-button {
  background-color: #27ae60;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.todo-button:hover {
  background-color: #219d52;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list li {
  background-color: #f5f5f5;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list li:hover {
  background-color: #ececec;
}

.button {
  border: none;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  margin: 0 5px;
}

.delete-button {
  background-color: #e74c3c;
  color: #fff;
}

.update-button {
  background-color: #50e73c;
  color: #fff;
}

.delete-button:hover {
  background-color: #c0392b;
}

.update-button:hover {
  background-color: #39ca25;
}

/*completed task */
.completed-task {
  text-align: left;
  padding: 5px;
  background-color: #002c7b;
  color: white;
  font-size: 20px;
  width: max-content;
  margin: 5px;
  font-weight: 500;
}

/* popup design*/
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  z-index: 1000;
  text-align: center;
}

.popup input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.popup button {
  padding: 10px 20px;
  background: #0074d9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.popup button.cancel {
  background: #ccc;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* loading style */
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #007bff; /* Change the color as needed */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

.loading-text {
  margin-top: 10px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Style for the select box container */
.select-container {
  position: relative;
  margin: 10px;
  top: -8px;
}

/* Style for the select box itself, hiding the default dropdown arrow */
.select-box {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
  background-color: #fff;
  outline: none;
  color: #333;
  width: 120px;
}

/* Style for the select box when it's focused */
.select-box:focus {
  border: 2px solid #007bff; /* Change the focus color as needed */
}

/* Style for the custom dropdown arrow icon */
.select-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

option {
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  max-height: 150px;
  overflow-y: auto;
  width: 200px;
}

.error {
  padding: 25px;
  background-color: crimson;
  color: white;
  font-size: 17px;
  font-weight: 500;
}
